{% extends "base.html" %}

{% block content %}
<h2>玩家注册</h2>
<style>
    .f {
        color: red;
    }
</style>
<body class="text-center">
<div class="form-wrapper">
    <div class="middle">
        <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                 {% csrf_token %}
                 {% for field in form %}
            <div class="fieldWrapper">
                <div class="form-group">
                <div class="f"> {{ field.errors }}</div>
                <div class="col-sm-4">{{ field.label_tag }}</div>
                <div class="col-sm-8">{{ field }}</div>
                    {% if field.help_text %}
                         <p class="h">{{ field.help_text|safe }}</p>
                    {% endif %}
                    {{ register_form.captcha }}     
            </div>
                 {% endfor %}

            <div class="button-wrapper submit">
                <input type="submit" value="注册"/>
            </div>
             
        </form>
    </div>
</div>
</body>
{% endblock %}
<!--ajax刷新验证码-->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script>
    $('.captcha').click(function () {
        $.getJSON("/captcha/refresh/", function (result) {
            $('.captcha').attr('src', result['image_url']);
            $('#id_captcha_0').val(result['key'])
        });

    });
</script>

<script>
    {% if message and code is 1 %}
        alert('{{ message }}');
        window.location.href = '/accounts/login';
    {% else %}
        alert('{{ message }}');
    {% endif %}
</script>